importFrom("graphics", "plot")
import("lattice")
import("methods")
import("grid")
import("parallel")
importClassesFrom("parallel")
importFrom("grDevices", "grey")
importFrom("stats", "fitted", "lm", "loess", "predict")
importFrom("utils", "tail")
importFrom("stats", "pnorm", "qnorm")
export("powPar")
#exportClasses("powPar", "powEx", "power")
exportMethods("inspect",
              "n",
              "plot",
              "powCalc",
              "powEx",
              "pp",
              "refine",
              "tex",
              "theta",
              "update",
              "xi"
              )
